<div class="content-container">
  <div class="dialogue-title">{{ RESET_PASSWORD_TITLE }}</div>
  <div class="dialogue-form">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <mat-form-field>
        <mat-label>{{ EMAIL_FIELD_TITLE }}</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Your email...">
        @if (email.invalid && (email.dirty || email.touched)) {
          <mat-error>{{ emailErrorMessage }}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
  <div class="actions-container">
    @if (!(resetPasswordProcessing$ | async)) {
      <button mat-raised-button color="primary" [disabled]="email.invalid" (click)="onSubmit()">{{ SUBMIT_BUTTON_VALUE }}</button>
    }
    @if (!(resetPasswordProcessing$ | async)) {
      <button mat-stroked-button color="primary" [mat-dialog-close] type="button">{{ CANCEL_BUTTON_VALUE }}</button>
    }
  </div>
  @if ((resetPasswordProcessing$ | async)) {
    <app-processing-spinner></app-processing-spinner>
  }
</div>