@use '../../variables' as *;

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  margin-top: 32px;
}

.dialogue-title {
  @include default-header-style($font-weight-regular);
}

.dialogue-form {
  margin-top: 32px;
  box-sizing: border-box; // Prevents side padding from pushing content outside the window width
  width: 100%;
  padding: 0 32px;
}

mat-form-field {
  width: 100%;
}

.actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  margin-top: 16px;
  padding: 0 32px;
  box-sizing: border-box; // Prevents side padding from pushing content outside the window width
  width: 100%;
}

button {
  width: 100%;
}