<div class="content-container">
  <app-auth-header></app-auth-header>
  <div class="login-options" [ngClass]="!(authOrUserUpdateProcessing$ | async) && !(userData$ | async) ? '' : 'hide'">
    <app-login-with-third-party></app-login-with-third-party>
    <div class="or-divider">{{ OR_BLURB }}</div>
    <button class="email-button" *ngIf="!useEmailLogin()" type="button" mat-raised-button (click)="onUseEmail()">
      <mat-icon class="email-button-icon">email</mat-icon>
      {{ SIGN_UP_WITH_EMAIL_BUTTON_VALUE }}
    </button>
    <app-signup-form *ngIf="useEmailLogin()"></app-signup-form>
    <div class="toggle-login-signup" *ngIf="useEmailLogin()">
      <a [routerLink]="LOGIN_PATH">{{ ALREADY_HAVE_ACCOUNT_BUTTON_VALUE }}</a>
    </div>
  </div>
  <div class="processing-container" *ngIf="authOrUserUpdateProcessing$ | async">
    <mat-spinner class="processing-spinner"></mat-spinner>
    <h2 class="processing-message">
      {{ AUTH_PROCESSING_BLURB }}
    </h2>
  </div>
  <div class="verify-email" *ngIf="(userData$ | async) && 
      (!(userData$ | async)?.emailVerified || !(authData$ | async)?.emailVerified) && 
      !(authOrUserUpdateProcessing$ | async)" 
      >
    <p>{{ CHECK_INBOX_BLURB_1 }}, {{(userData$ | async)?.firstName}}. {{ CHECK_INBOX_BLURB_2 }} <span class="verify-text">{{ CHECK_INBOX_BLURB_3 }}</span>.</p>
    <p>{{ CHECK_SPAM_BLURB_1 }} <span class="trusted-sender-text">{{ TRUSTED_EMAIL_SENDER }}</span> {{ CHECK_SPAM_BLURB_2 }}.</p>
  </div>
</div>