<div class="component-container">

  <form 
      class="auth-user-form" 
      [formGroup]="authUserForm" 
      (ngSubmit)="onSubmit()" 
      fxLayout="column" 
      fxLayoutAlign="center center"
      fxLayoutGap="16px"
      [fxHide]="(userData$ | async) || showResetMessage"
      >
    <mat-form-field color="accent">
      <input color="accent" class="email-input" matInput formControlName="email" type="email">
      <mat-icon class="input-icon" matPrefix>email</mat-icon>
      <mat-placeholder class="input-placeholder">{{ emailFieldValue }}</mat-placeholder>
      <mat-error *ngFor="let validation of formValidationMessages.email">
        <mat-error *ngIf="email.hasError(validation.type) && email.invalid && (email.dirty || email.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input formControlName="password" matInput type="password">
      <mat-icon class="input-icon" matPrefix>lock</mat-icon>
      <mat-placeholder class="input-placeholder">{{ passwordFieldValue }}</mat-placeholder>
      <mat-error *ngFor="let validation of formValidationMessages.password">
        <mat-error *ngIf="password.hasError(validation.type) && password.invalid && (password.dirty || password.touched)">{{ validation.message }} <span style="float: right;">{{ password.value.length }} / 6</span> </mat-error>
      </mat-error>
    </mat-form-field>
    <div class="forgot-password-container" fxLayout="row" fxLayoutAlign="start center">
      <button class="reset-password-button" type="button" (click)="onResetPassword()"> 
        Forgot password?
      </button>
    </div>
    <button 
      [disabled]="(email.invalid && (email.dirty || email.touched))"
      class="submit-button" 
      type="submit" 
      mat-raised-button 
      color="primary">
        {{ submitButtonValue }}
    </button>
  </form>
  <div *ngIf="showResetMessage" class="processing-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <h2 class="processing-message">
      Check your inbox for an email to reset your password.
    </h2>
  </div>
</div>
