@import "../../../variables";

.check-inbox-message {
  margin-top: 32px;
  text-align: center;
  font-size: 1.2em;
  font-weight: $font-weight-light;
  line-height: 1.2em;
}

mat-form-field {
  width: 100%;
  max-width: $desktop-form-width-standard;
}

.input-icon {
  vertical-align: bottom;
  padding-right: 8px;
}

.submit-button {
  margin-top: 16px;
  width: $mobile-button-width;
  max-width: $desktop-button-width;
}

.forgot-password-container {

  // Remove button styling: https://stackoverflow.com/a/45890842/6572208
  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  color: $primary;
  font-weight: $font-weight-light;
  margin-top: -8px;
  width: 100%;
  max-width: 300px;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .component-container {
    padding: 16px;
  }
}