<div class="component-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab [label]="PLANS_TAB_VALUE">
      <div class="actions" fxLayout="column" fxLayoutAlign="center center">
        <button class="create-button" mat-raised-button color="primary" (click)="onCreatePlan()">{{ CREATE_PLAN_BUTTON_VALUE }}</button>
      </div>
    </mat-tab>
    <mat-tab [label]="SESSIONS_TAB_VALUE">
      <div class="actions" fxLayout="column" fxLayoutAlign="center center">
        <button class="create-button" mat-raised-button color="primary" (click)="onCreateSession()">{{ CREATE_SESSION_BUTTON_VALUE }}</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>