<div class="content-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" >
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs >
      <mat-tab [label]="PLANS_TAB_VALUE">
        <ng-template matTabContent>
          <app-browse-training-plans></app-browse-training-plans>
        </ng-template>
      </mat-tab>
      <mat-tab [label]="SESSIONS_TAB_VALUE" >
        <ng-template matTabContent >
          <app-browse-training-sessions></app-browse-training-sessions>
        </ng-template>
      </mat-tab>
  </mat-tab-group>
</div>

<!-- <div class="content-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" >
  <app-browse-training-sessions></app-browse-training-sessions>
</div> -->