<div class="content-container">
  <app-auth-header></app-auth-header>
  <div class="login-options" [ngClass]="!(authOrUserUpdateProcessing$ | async) && !(userData$ | async) ? '' : 'hide'">
    <app-login-with-third-party></app-login-with-third-party>
    <div class="or-divider">{{ OR_BLURB }}</div>
    @if (!useEmailLogin()) {
      <button class="email-button" type="button" mat-raised-button (click)="onUseEmail()">
        <mat-icon class="email-button-icon">email</mat-icon>
        {{ SIGN_IN_WITH_EMAIL_BUTTON_VALUE }}
      </button>
    }
    @if (useEmailLogin()) {
      <app-login-form></app-login-form>
    }
    @if (useEmailLogin()) {
      <div class="toggle-login-signup">
        <a [routerLink]="SIGNUP_PATH">{{ CREATE_ACCOUNT_BUTTON_VALUE }}</a>
      </div>
    }
  </div>
  @if (authOrUserUpdateProcessing$ | async) {
    <app-processing-spinner [$spinnerMessage]="AUTH_PROCESSING_BLURB"></app-processing-spinner>
  }
  @if ((userData$ | async) &&
    (!(userData$ | async)?.emailVerified || !(authData$ | async)?.emailVerified) &&
    !(authOrUserUpdateProcessing$ | async)) {
    <div class="verify-email"
      >
      <p>{{ CHECK_INBOX_BLURB_1 }}, {{(userData$ | async)?.firstName}}. {{ CHECK_INBOX_BLURB_2 }} <span class="verify-text">{{ CHECK_INBOX_BLURB_3 }}</span>.</p>
      <p>{{ CHECK_SPAM_BLURB_1 }} <span class="trusted-sender-text">{{ TRUSTED_EMAIL_SENDER }}</span> {{ CHECK_SPAM_BLURB_2 }}.</p>
    </div>
  }
</div>