@use '../../../../variables' as *;

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;

  margin-top: 32px;
}

.dialogue-title {
  @include default-header-style($font-weight-regular);
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  
  margin-top: 16px;
  padding: 0 32px;
  box-sizing: border-box; // Prevents side padding from pushing content outside the window width
  width: 100%;
}

button {
  width: 100%;
}