<div class="content-container">
  <div class="dialogue-title">{{ EDIT_AVATAR_TITLE_VALUE }}</div>
  <div class="avatar-container">
    <img class="avatar" [src]="(userData$ | async)?.avatarUrl || DEFAULT_PROFILE_IMAGE" >
  </div>
  <div class="actions-container">
    <input #imageInput style="display: none" type="file" accept="image/*" id="file" (change)="onSubmit($event)">
    @if (!(combinedUploadAvatarProcessing$ | async) && !$resizeAvatarCycleInit()) {
      <button mat-raised-button color="primary" (click)="imageInput.click()">{{ UPLOAD_IMAGE_BUTTON_VALUE }}</button>
    }
    @if (!(combinedUploadAvatarProcessing$ | async) && !$resizeAvatarCycleInit()) {
      <button mat-stroked-button color="primary" [mat-dialog-close] type="button">{{ CANCEL_BUTTON_VALUE }}</button>
    }
  </div>
  @if ((combinedUploadAvatarProcessing$ | async) || $resizeAvatarCycleInit()) {
    <app-processing-spinner></app-processing-spinner>
  }

</div>
