<div class="component-container">
  <form 
      class="register-user-form" 
      [formGroup]="registerUserForm" 
      (ngSubmit)="onSubmit()" 
      fxLayout="column" 
      fxLayoutAlign="center center"

      fxLayoutGap="16px"
      [fxHide]="(signupProcessing$ | async) || (newUser$ | async)"
      >
    <mat-form-field color="accent">
      <input color="accent" class="first-name-input" matInput formControlName="firstName">
      <mat-icon class="input-icon" matPrefix>face</mat-icon>
      <mat-placeholder class="input-placeholder">{{ firstNameFieldValue }}</mat-placeholder>
      <mat-error *ngFor="let validation of formValidationMessages.firstName">
        <mat-error *ngIf="firstName.hasError(validation.type) && firstName.invalid && (firstName.dirty || firstName.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input color="accent" class="email-input" matInput formControlName="email" type="email">
      <mat-icon class="input-icon" matPrefix>email</mat-icon>
      <mat-placeholder class="input-placeholder">{{ emailFieldValue }}</mat-placeholder>
      <mat-error *ngFor="let validation of formValidationMessages.email">
        <mat-error *ngIf="email.hasError(validation.type) && email.invalid && (email.dirty || email.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input formControlName="password" matInput type="password">
      <mat-icon class="input-icon" matPrefix>lock</mat-icon>
      <mat-placeholder class="input-placeholder">{{ passwordFieldValue }}</mat-placeholder>
      <mat-hint>Must be at least 6 characters</mat-hint>
      <mat-error *ngFor="let validation of formValidationMessages.password">
        <mat-error *ngIf="password.hasError(validation.type) && password.invalid && (password.dirty || password.touched)">{{ validation.message }} <span style="float: right;">{{ password.value.length }} / 6</span> </mat-error>
      </mat-error>
    </mat-form-field>
    <button 
      [disabled]="(email.invalid && (email.dirty || email.touched)) || (signupProcessing$ | async)"
      class="submit-button" 
      type="submit" 
      mat-raised-button 
      color="primary">
        {{ submitButtonValue }}
    </button>
  </form>
  <div *ngIf="signupProcessing$ | async" class="processing-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <mat-spinner class="processing-spinner"></mat-spinner>
    <h2 class="processing-message">
      Processing your submission, please wait...
    </h2>
  </div>
  <div class="verify-email" *ngIf="(newUser$ | async) as newUser" fxLayout="column" fxLayoutGap="32px">
    <p>Thanks, {{newUser.firstName}}. Now check your inbox to <span class="verify-text">verify your email</span>.</p>
    <p>If you don't see it, be sure to check your Promotions Tab and Spam. Also be sure to add <span class="trusted-sender-text">{{ trustedEmailSender }}</span> to your trusted contacts.</p>
  </div>
</div>
