@import "../../../variables";

mat-form-field {
  width: 100%;
  max-width: $desktop-form-width-standard;
}

.input-icon {
  vertical-align: bottom;
  padding-right: 8px;
}

.submit-button {
  margin-top: 16px;
  width: $mobile-button-width;
  max-width: $desktop-button-width;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .component-container {
    padding: 16px;
  }
}