@import '../../../variables';

.training-plan-thumbnail, .training-plan-details-container {
  width: 100%;
  max-width: $desktop-button-width;
}

.training-plan-details-container {
  padding-left: 16px;
  padding-right: 16px;
}

.training-plan-title {
  font-size: 15px;
  font-weight: $font-weight-regular;
}

.training-plan-subtext {
  font-size: 13px;
  color: $font-subheader-color;
}