<div class="tab-contents" fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="(userData$ | async)?.isAdmin"  class="actions-container" fxLayout="column" fxLayoutAlign="center center">
    <button class="create-button" mat-raised-button color="primary" (click)="onCreatePlan()">{{ CREATE_PLAN_BUTTON_VALUE }}</button>
  </div>
  <div class="search-options-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center center">
    <mat-form-field class="search-form-field">
      <mat-icon *ngIf="!searchInput.focused" matPrefix class="search-icon">search</mat-icon>
      <mat-label>{{ SEARCH_PLAN_OR_CHANNEL_TITLE_PLACEHOLDER }}</mat-label>
      <input matInput type="text" [(ngModel)]="searchText" class="search-input" #searchInput="matInput">
      <button class="close-search-button" *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <cdk-virtual-scroll-viewport [itemSize]="trainingPlanCardHeight" class="scrolling-container">
    <div class="training-plan-card-container" *cdkVirtualFor="let plan of trainingPlans$ | async | trainingPlanSearchFilter: searchText" fxLayout="column" fxLayoutGap="8px">
      <app-training-plan-card [trainingPlanData]="plan" fxLayout="column" (click)="onSelectTrainingPlan(plan)"></app-training-plan-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<div *ngIf="(fetchAllTrainingPlansProcessing$ | async)" fxLayout="column" fxLayoutAlign="center center" class="loading-spinner">
  <mat-progress-spinner diameter=40 color="primary" mode="indeterminate"></mat-progress-spinner>
</div>