<div class="component-container">
  <button class="create-button" mat-raised-button color="primary" (click)="onCreatePlan()">{{ CREATE_PLAN_BUTTON_VALUE }}</button>
  <div class="search-options-container">
    <mat-form-field class="search-form-field">
      @if (!searchInput.focused) {
        <mat-icon matPrefix class="search-icon">search</mat-icon>
      }
      <mat-label>{{ SEARCH_PLAN_OR_CHANNEL_TITLE_PLACEHOLDER }}</mat-label>
      <input matInput type="text" [(ngModel)]="searchText" class="search-input" #searchInput="matInput">
      @if (searchText) {
        <button class="close-search-button" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>
  @if ((fetchAllTrainingPlansProcessing$ | async)) {
    <app-processing-spinner [$spinnerMessage]="'Loading data...'"></app-processing-spinner>
  }
  @if (!(fetchAllTrainingPlansProcessing$ | async) && !(fetchAllTrainingPlansError$ | async) && $localTrainingPlans().length === 0) {
    <div class="empty-message">
      {{ NO_TRAINING_PLANS_FOUND_BLURB }}
    </div>
  }
</div>
<div class="training-plan-card-container">
  @for (plan of $localTrainingPlans() | trainingPlanSearchFilter: searchText; track plan) {
    <app-training-plan-card [$trainingPlanData]="plan" (click)="onSelectTrainingPlan(plan)"></app-training-plan-card>
  }
</div>