@use '../../../variables' as *;

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 0 16px;
}

.create-button {
  margin: 16px 0;
  width: $mobile-button-width;
}

.search-options-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.search-form-field {
  width: 100%;
}

.search-icon {
  margin-bottom: -4px;
  margin-right: 4px;
}

.training-plan-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.empty-message {
  @include default-text-style();
}
