@import '../../../variables';

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.hide {
  display: none;
}

app-login-with-third-party {
  width: 100%;
}

.or-divider {
  text-align: center;
}

.email-button {
  width: $mobile-button-width;
  color: #737373;
}

.email-button-icon {
  margin-right: 16px;
}

app-login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.toggle-login-signup {
  color: $primary;
  font-weight: $font-weight-light;
}

.verify-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
  text-align: center;
  font-size: 1.2em;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  padding-left: 16px;
  padding-right: 16px;
}

.verify-text, .trusted-sender-text {
  font-weight: $font-weight-medium
}