<div class="page-container" fxLayout="column" fxLayoutGap="0px" fxLayoutGap.gt-sm="32px">
  <app-auth-header></app-auth-header>
  <div fxHide [fxShow]="!(authOrUserUpdateProcessing$ | async) && !(userData$ | async)" class="login-options" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
    <app-login-with-third-party></app-login-with-third-party>
    <div class="or-divider">{{ orBlurb }}</div>
    <button *ngIf="!useEmailLogin" type="button" class="email-button" mat-raised-button (click)="onUseEmail()">
      <mat-icon class="email-button-icon">email</mat-icon>
      {{ signInWithEmailButtonValue }}
    </button>
    <app-login-form *ngIf="useEmailLogin"></app-login-form>
    <div *ngIf="useEmailLogin" class="toggle-login-signup" fxLayout="column" fxLayoutAlign="center center">
      <a [routerLink]="signupPath">{{ createAccountButtonValue }}</a>
    </div>
  </div>
  <div *ngIf="authOrUserUpdateProcessing$ | async" class="processing-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <mat-spinner class="processing-spinner"></mat-spinner>
    <h2 class="processing-message">
      {{ authProcessingBlurb }}
    </h2>
  </div>
  <div class="verify-email" *ngIf="(userData$ | async) && !(userData$ | async)?.emailVerified && !(authOrUserUpdateProcessing$ | async)" fxLayout="column" fxLayoutGap="32px">
    <p>{{ checkInboxBlurb1 }}, {{(userData$ | async)?.firstName}}. {{ checkInboxBlurb2 }} <span class="verify-text">{{ checkInboxBlurb3 }}</span>.</p>
    <p>{{ checkSpamBlurb1 }} <span class="trusted-sender-text">{{ trustedEmailSender }}</span> {{ checkSpamBlurb2 }}.</p>
  </div>
</div>