<div class="component-container" *ngIf="(userData$ | async) as user" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  
  <div fxLayoutAlign="center center" *ngIf="loading$ | async">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="16px">

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <img [src]="user.avatarUrl ? user.avatarUrl : defaultProfileImage" class="avatar">
      <button class="edit-button" mat-button color="primary" (click)="onEditAvatar()">{{ EDIT_BUTTON_VALUE }}</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" >
      <mat-icon>face</mat-icon>
      <span>{{ user.firstName }} {{ user.lastName }}</span>
      <button class="edit-button" mat-button color="primary" (click)="onEditName()">{{ EDIT_BUTTON_VALUE }}</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>mail</mat-icon>
      <span>{{ user.email }}</span>
      <button class="edit-button" mat-button color="primary" (click)="onEditEmail()">{{ EDIT_BUTTON_VALUE }}</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>lock</mat-icon>
      <a class="password-button" (click)="onEditPassword()">{{ CHANGE_PASSWORD_BUTTON_VALUE }}</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-stroked-button color="primary" class="delete-public-user-button" (click)="onDeletePublicUser()">{{ DELETE_PUBLIC_USER_BUTTON_VALUE }}</button>
    </div>
  </div>
</div>