<div class="content-container">

  <div class="dialogue-title">{{ CHANGE_PASSWORD_TITLE_VALUE }}</div>

  <div class="dialogue-content">
    <div>{{ CHANGE_PASSWORD_BLURB }}:</div>
    <div class="user-email">{{ (userData$ | async)?.email }}</div>
  </div>

  <div class="actions-container">
    @if (!(resetPasswordProcessing$ | async)) {
      <button mat-raised-button color="primary" type="button" (click)="onSubmit()">{{ SUBMIT_BUTTON_VALUE }}</button>
    }
    @if (!(resetPasswordProcessing$ | async)) {
      <button  mat-stroked-button color="primary" [mat-dialog-close] type="button">{{ CANCEL_BUTTON_VALUE }}</button>
    }
    @if ((resetPasswordProcessing$ | async)) {
      <app-processing-spinner></app-processing-spinner>
    }
  </div>

</div>