$ignfapp-public-accent: (
  50 : #fff2e0,
  100 : #ffdfb3,
  200 : #ffca80,
  300 : #ffb54d,
  400 : #ffa526,
  500 : #ff9500,
  600 : #ff8d00,
  700 : #ff8200,
  800 : #ff7800,
  900 : #ff6700,
  A100 : #ffffff,
  A200 : #fff7f2,
  A400 : #ffd5bf,
  A700 : #ffc4a6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);