$ignfapp-public-warn: (
  50 : #fdece4,
  100 : #fbcfbd,
  200 : #f8b091,
  300 : #f59064,
  400 : #f37843,
  500 : #f16022,
  600 : #ef581e,
  700 : #ed4e19,
  800 : #eb4414,
  900 : #e7330c,
  A100 : #ffffff,
  A200 : #ffe3de,
  A400 : #ffb7ab,
  A700 : #ffa191,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);