@import '../../../../../../variables';

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  width: 100%;
}

mat-form-field {
  width: 100%;
}

.mat-button-toggle-checked {
  background-color: $accent;
  color: white;
}
