<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">

  <h2 mat-dialog-title>{{ EDIT_AVATAR_TITLE_VALUE }}</h2>
  <mat-dialog-content fxLayout="column" fxLayoutAlign="center center" >
    
    <div class="avatar-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <img [src]="userData.avatarUrl ? userData.avatarUrl : DEFAULT_PROFILE_IMAGE" class="avatar">
    </div>

  </mat-dialog-content>

  <div class="actions-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    <input #imageInput style="display: none" type="file" accept="image/*" id="file" (change)="onSubmit($event)">
    <button *ngIf="!(avatarUploadOrUserUpdateProcessing$ | async)" mat-raised-button color="primary" (click)="imageInput.click()" [disabled]="avatarUploadOrUserUpdateProcessing$ | async">{{ UPLOAD_IMAGE_BUTTON_VALUE }}</button>
    <button *ngIf="!(avatarUploadOrUserUpdateProcessing$ | async)" mat-stroked-button color="primary" [mat-dialog-close] type="button">{{ CANCEL_BUTTON_VALUE }}</button>
    <div *ngIf="(avatarUploadOrUserUpdateProcessing$ | async)" class="upload-processing-spinner" fxLayout="column" fxLayoutAlign="center center">
      <mat-progress-spinner diameter=40 color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

</div>
