<!-- TODO: Modify this so that the first one is framed and has a button that says "train now" and the rest are a more compressed list below it -->

<div *ngIf="(personalSessionFragments$ | async) && (personalSessionFragments$ | async)!.length > 0" class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <button class="edit-queue-button" mat-raised-button color="primary" (click)="onEditPersonalQueue()">{{ EDIT_MY_QUEUE }}</button>
  <div *ngIf="(personalSessionFragments$ | async) as personalSessionFragmentData" class="personal-session-fragments-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
    <div class="training-session-card-container" *ngFor="let personalSessionFragment of personalSessionFragmentData" fxLayout="column" fxLayoutGap="8px">
      <app-training-session-card [trainingSesssionData]="personalSessionFragment" fxLayout="column"></app-training-session-card>
    </div>
  </div>
</div>
<div class="queue-empty-container" *ngIf="(personalSessionFragments$ | async)?.length === 0">
  <div class="empty-message">{{ QUEUE_IS_EMPTY_BLURB }}</div>
  <button class="browse-button" button mat-stroked-button color="primary" (click)="onNavigateToBrowse()">{{ BROWSE_TRAINING_PLANS_BUTTON_VALUE }}</button>
</div>
<div *ngIf="(fetchAllPersonalSessionFragmentsProcessing$ | async)" fxLayout="column" fxLayoutAlign="center center" class="loading-spinner">
  <mat-progress-spinner diameter=40 color="primary" mode="indeterminate"></mat-progress-spinner>
</div>