@import '../../../../../variables';

.scrolling-container {
  width: 100vw;
  height: 100vh;
}

.training-session-card-container {
  height: 300px; // Height must be set for virtual scroll to work, must match itemSize on cdk-virtual-scroll-viewport element
}

@media screen and (min-width: $mobile-cutoff-width) {
  .scrolling-container {
    width: $desktop-screen-width;
    height: calc(100vh - 200px);
  }
}