@import "../../../variables";

.page-container {
  padding: 16px;
}

mat-form-field {
  width: 100%;
  max-width: $desktop-form-width-standard;
}

.input-icon {
  vertical-align: bottom;
  padding-right: 8px;
}

.submit-button {
  margin-top: 16px;
  width: 100%;
  max-width: 300px;
}

.verify-email {
  margin-top: 32px;
  text-align: center;
  font-size: 1.2em;
  font-weight: $font-weight-light;
  line-height: 1.2em;
}

.verify-text {
  color: $primary;
  font-weight: $font-weight-medium;
}

.trusted-sender-text {
  font-weight: $font-weight-medium
}

.processing-spinner {
  font-size: 96px;
  height: 96px;
  width: 96px;
  color: $primary;
}

.processing-message {
  text-align: center;
  font-weight: $font-weight-light;
}

p {
  line-height: 1.2em;
  font-weight: $font-weight-light;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .component-container {
    padding: 16px;
  }
}