<div class="component-container">
  <form 
      class="subscribe-form" 
      [formGroup]="registerUserForm" 
      (ngSubmit)="onSubmit()" 
      fxLayout="column" 
      fxLayoutAlign="center center"
      fxLayoutGap="16px"
      [fxHide]="(registrationProcessing$ | async)|| (prelaunchUserData$ | async)"
      >
    <mat-form-field color="accent">
      <input color="accent" class="first-name-input" matInput formControlName="firstName">
      <mat-icon class="input-icon" matPrefix>face</mat-icon>
      <mat-placeholder class="input-placeholder">{{ firstNameFieldValue }}</mat-placeholder>
      <mat-error *ngFor="let validation of formValidationMessages.firstName">
        <mat-error *ngIf="firstName.hasError(validation.type) && firstName.invalid && (firstName.dirty || firstName.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input color="accent" class="email-input" matInput formControlName="email" type="email">
      <mat-icon class="input-icon" matPrefix>email</mat-icon>
      <mat-placeholder class="input-placeholder">{{ emailFieldValue }}</mat-placeholder>
      <mat-error *ngFor="let validation of formValidationMessages.email">
        <mat-error *ngIf="email.hasError(validation.type) && email.invalid && (email.dirty || email.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <button 
      [disabled]="(email.invalid && (email.dirty || email.touched))"
      class="submit-button" 
      type="submit" 
      mat-raised-button 
      color="primary">
        {{ submitButtonValue }}
    </button>
  </form>
  <div *ngIf="registrationProcessing$ | async" class="processing-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <mat-spinner class="processing-spinner"></mat-spinner>
    <h2 class="processing-message">
      {{ processingSubmissionValue }}
    </h2>
  </div>
  <div class="verify-email" *ngIf="(prelaunchUserData$ | async) && !userAlreadyRegistered" fxLayout="column" fxLayoutGap="32px">
    <p>{{ checkInboxBlurb1 }}, {{(prelaunchUserData$ | async)?.firstName}}. {{ checkInboxBlurb2 }} <span class="verify-text">{{ checkInboxBlurb3 }}</span>.</p>
    <p>{{ checkSpamBlurb1 }} <span class="trusted-sender-text">{{ trustedEmailSender }}</span> {{ checkSpamBlurb2 }}.</p>
  </div>
  <div *ngIf="userAlreadyRegistered" fxLayout="column" fxLayoutAlign="center center">
    <p class="already-registered">{{ alreadyRegisteredBlurb }}</p>
  </div>
</div>
