@import "../../../variables";

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;

  margin-top: 32px;
  padding: 0 32px;
}

.logo {
  width: 20%;
}

.lead-statement {
  font-size: 3.5em;
  line-height: 1em;
  text-align: center;
}

.call-to-action {
  font-size: 2em;
  text-align: center;
  color: $font-subheader-color;
}

.body-statement {
  @include default-text-style();
}

app-pl-signup {
  width: 100%;
}