<div class="content-container">

  <div class="dialogue-title">{{ UPDATE_EMAIL_TITLE_VALUE }}</div>

  <mat-stepper [orientation]="stepperOrientation" [linear]="true" labelPosition="bottom" #updateEmailStepper>

    <!-- Step 1 -->
    <!-- No stepControl here, instead we use the "completed" api for async validation -->
    <mat-step errorMessage="Error verifying password." [completed]="false" [editable]="false">
      <form [formGroup]="passwordForm">
        
        <ng-template matStepLabel>{{ VERIFY_PASSWORD_STEP_LABEL }}</ng-template>
      
        <mat-form-field>
          <input formControlName="password" matInput type="password" placeholder="Current Password">
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">{{ passwordErrorMessage }}</mat-error>
        </mat-form-field>
        
        <div class="stepper-buttons">
          <button *ngIf="!(combinedAuthAndUserUpdateProcessing$ | async)" mat-raised-button color="primary" [disabled]="password.invalid && (password.dirty || password.touched)" (click)="onConfirmPasswordInAuth()">{{ VERIFY_PASSWORD_BUTTON_VALUE }}</button>
          <button *ngIf="!(combinedAuthAndUserUpdateProcessing$ | async)" mat-stroked-button color="primary" [mat-dialog-close] type="button">{{ CANCEL_BUTTON_VALUE }}</button>
          <app-processing-spinner *ngIf="(combinedAuthAndUserUpdateProcessing$ | async)"></app-processing-spinner>
        </div>

      </form>
    </mat-step>
  
    <!-- Step 2 -->
    <mat-step errorMessage="Error updating email.">
      <form [formGroup]="emailForm">

        <ng-template matStepLabel>{{ INPUT_NEW_EMAIL_STEP_LABLE }}</ng-template>
        
        <div class="new-email-container" [ngClass]="$sendUpdateEmailConfirmationCycleComplete() ? 'hide' : ''">
          <div class="email-update-visual">
            <div><span class="email-update-visual-topic-text">Current email:</span> {{ originalUserData.email }}</div>
            <div><span class="email-update-visual-topic-text">New email:</span> {{ email.value }}</div>
          </div>
        
          <mat-form-field>
            <input formControlName="email" matInput type="text" placeholder="Your new email...">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">{{ emailErrorMessage }}</mat-error>
          </mat-form-field>
          
          <div class="stepper-buttons">
            <button *ngIf="!(combinedAuthAndUserUpdateProcessing$ | async)" mat-raised-button color="primary" [disabled]="email.invalid && (email.dirty || email.touched)" (click)="onSendUpdateEmailConfirmation()">{{ SEND_UPDATE_EMAIL_BUTTON_VALUE }}</button>
            <button *ngIf="!(combinedAuthAndUserUpdateProcessing$ | async)" mat-stroked-button color="primary" [mat-dialog-close] type="button">{{ CANCEL_BUTTON_VALUE }}</button>
          </div>
        </div>

        <div class="confirm-email-container" [ngClass]="$sendUpdateEmailConfirmationCycleComplete() ? '' : 'hide'">
          <div>{{ CONFIRM_NEW_EMAIL_BLURB }}</div>
          <button class="confirm-email-button" *ngIf="!(combinedAuthAndUserUpdateProcessing$ | async)" mat-raised-button color="primary" [mat-dialog-close]="true">
            {{ IVE_CONFIRMED_MY_EMAIL_BUTTON_VALUE }}
          </button>
        </div>

      </form>
    </mat-step>
  
  </mat-stepper>

</div>
