@import '../../../../../../variables';

mat-stepper {
  width: 100%;
}

mat-form-field {
  width: 100%;
  max-width: $desktop-form-width-standard;
  margin-top: 16px;
}

.stepper-buttons {
  margin-top: 16px;
  width: 100%;
}

button {
  width: $mobile-button-width;
  max-width: $desktop-button-width;
}

.new-email-container {
  width: 100%;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .stepper-buttons {
    margin-top: 8px;
  }

  mat-form-field {
    margin-top: 8px;
  }
}