@import "../../../../../variables";

.verify-email {
  text-align: center;
  font-size: 1.2em;
}

.verify-text {
  color: $primary;
}

.processing-spinner {
  font-size: 96px;
  height: 96px;
  width: 96px;
  color: $primary;
}

.processing-message {
  color: $primary;
  text-align: center;
}

p {
  line-height: 1.2em;
  font-weight: $font-weight-light;
}