@import '../../../variables';

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.processing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.processing-spinner {
  font-size: 96px;
  height: 96px;
  width: 96px;
  color: $primary;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.failure-icon {
  font-size: 96px;
  height: 96px;
  width: 96px;
  color: $warn;
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.success-icon {
  font-size: 96px;
  height: 96px;
  width: 96px;
  color: $primary;
}

.success-message, .processing-message{
  color: $primary;
}

.failure-message {
  color: $warn;
}

.failure-message, .success-message, .processing-message {
  text-align: center;
  font-weight: $font-weight-light;
  font-size: 1.2em;
  line-height: 1.2em;
}

.check-your-inbox {
  font-weight: $font-weight-light;
  text-align: center;
  line-height: 1.2em;
}

.support-text {
  font-weight: $font-weight-medium;
}
