@import '../../../variables';

.page-container {
  padding: 32px;
}

.success-container {
  margin-top: 10%;
}

.success-icon {
  font-size: 96px;
  height: 96px;
  width: 96px;
  color: $primary;
}


.failure-icon {
  font-size: 96px;
  height: 96px;
  width: 96px;
  color: $warn;
}

.success-message {
  color: $primary;
}

.processing-message {
  color: $primary;
}

.failure-message {
  color: $warn;
}

.failure-message, .success-message, .processing-message {
  text-align: center;
  font-weight: $font-weight-light;
  font-size: 1.2em;
  line-height: 1.2em;
}

.processing-spinner {
  font-size: 96px;
  height: 96px;
  width: 96px;
  color: $primary;
}

.check-your-inbox {
  font-weight: $font-weight-light;
  text-align: center;
  line-height: 1.2em;
}

.support-text {
  font-weight: $font-weight-medium;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .page-container {
    padding: 16px;
  }
}