@import "./variables";


.app-content {
  padding-bottom: 72px;
}

// router-outlet {
//   padding-bottom: 200px;
// }

.footer-container {
  width: 100%;
}

app-nav-bar {
  // background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: $mobile-cutoff-width) {

}