@import "./variables";


.app-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 72px;
  max-width: $desktop-screen-width;
}

.footer-container {
  width: 100%;
}

app-nav-bar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.spinner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

}

.processing-spinner {
  font-size: 96px;
  height: 96px;
  width: 96px;
  color: $primary;
}

@media screen and (min-width: $mobile-cutoff-width) {

}