@import '../../../variables';

.training-session-thumbnail, .training-session-details-container {
  width: 100%;
  max-width: $desktop-button-width;
}

.training-session-details-container {
  padding-left: 16px;
  padding-right: 8px;
}

.training-session-title {
  font-size: 15px;
  font-weight: $font-weight-regular;
}

.training-session-subtext {
  font-size: 13px;
  color: $font-subheader-color;
}

app-add-training-session-to-plan-button {
  width: 100%;
}

app-add-training-session-to-personal-queue-button {
  width: 100%;
}