<div *ngIf="!compressedDisplay else listView" class="content-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" (click)="onSelectTrainingSession(trainingSesssionData)">
    <img class="training-session-thumbnail" [src]="trainingSesssionData.videoData.thumbnailUrlLarge" alt="training session thumbnail" >
    <div class="training-session-details-container" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="4px">
      <div class="training-session-title">{{ trainingSesssionData.videoData.title }}</div>
      <div class="training-session-subtext">{{ trainingSesssionData.videoData.channelTitle }} &#8226; {{ trainingSesssionData.videoData.durationMs | durationMsToMmSs }}</div>
    </div>
  </div>
  <app-add-training-session-to-plan-button *ngIf="trainingPlanBuilderRequest" [trainingSessionData]="trainingSesssionData"></app-add-training-session-to-plan-button>
  <app-add-training-session-to-personal-queue-button *ngIf="$isViewTrainingSessions() && !trainingPlanBuilderRequest" [trainingSessionData]="trainingSesssionData"></app-add-training-session-to-personal-queue-button>
</div>

<ng-template #listView>
  <div class="training-session-details-container" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="4px">
    <div class="training-session-title">{{ trainingSesssionData.videoData.title }}</div>
    <div class="training-session-subtext">{{ trainingSesssionData.videoData.channelTitle }} &#8226; {{ trainingSesssionData.videoData.durationMs | durationMsToMmSs }}</div>
  </div>
</ng-template>