@import '../../../../../../variables';

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
  max-width: $desktop-form-width-standard;
}

.actions-container {
  margin-top: 16px;
  width: 100%;
}

button {
  width: $mobile-button-width;
  max-width: $desktop-button-width;
}