<div class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <!-- This *ngIf logic ensures the button always shows for buttons that aren't being interacted with, whereas if it is button being clicked, it only shows if a server request isn't processing -->
  <button *ngIf="!$isActiveButton() || ($isActiveButton() && !(serverRequestProcessing$ | async))" [disabled]="(serverRequestProcessing$ | async)" mat-stroked-button color="primary" (click)="onAddTrainingSessionToPlan()">+ {{ ADD_TRAINING_SESSION_TO_PLAN_BUTTON_VALUE }}</button>
  <div *ngIf="$isActiveButton() && (serverRequestProcessing$ | async)" fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-spinner diameter=40 color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>