<section fxLayout="column" fxLayoutAlign="center center">

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

    <mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
      
      <h2 class="section-header" mat-dialog-title>{{ RESET_PASSWORD_TITLE }}</h2>
      
      <!-- Email -->
      <mat-form-field>
        <input formControlName="email" matInput type="email" placeholder="Your email">
        <mat-error *ngFor="let validation of FORM_VALIDATION_MESSAGES.email">
          <mat-error *ngIf="email.hasError(validation.type) && email.invalid && (email.dirty || email.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
    
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
      <button
        [disabled]="resetPasswordForm.invalid"
        mat-raised-button
        color="primary"
        type="submit"
        >
          {{ SUBMIT_BUTTON_VALUE }}
      </button>
      <button 
        mat-raised-button
        [mat-dialog-close]
        type="button"
        >
          {{ CANCEL_BUTTON_VALUE }}
      </button>
    </mat-dialog-actions>
  </form>

</section>