@import "../../../variables";

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
  max-width: $desktop-form-width-standard;
}

.reset-password-failed {
  color: $primary;
}

.actions-container {
  margin-top: 16px;
}

button {
  width: $mobile-button-width;
  max-width: $desktop-button-width;
}