@import "../../../variables";

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.dialogue-title {
  font-size: 1.5em;
}

.dialogue-form {
  margin-top: 32px;
  width: 90%;
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
  width: 100%;
}

button {
  width: $mobile-button-width;
}