<div class="content-container">
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs [selectedIndex]="$trainingSessionsTabActive() ? 1 : 0" #matTabGroup>
      <mat-tab [label]="PLANS_TAB_VALUE" [disabled]="$trainingPlanBuilderRequest()">
        <ng-template matTabContent>
          <app-browse-training-plans></app-browse-training-plans>
        </ng-template>
      </mat-tab>
      <mat-tab [label]="SESSIONS_TAB_VALUE">
        <ng-template matTabContent>
          <app-browse-training-sessions [$trainingPlanBuilderRequest]="$trainingPlanBuilderRequest()"></app-browse-training-sessions>
        </ng-template>
      </mat-tab>
  </mat-tab-group>
</div>