<div class="component-container">
  <form class="auth-user-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent">
      <input class="first-name-input" matInput formControlName="firstName" color="accent" >
      <mat-icon class="input-icon" matPrefix>face</mat-icon>
      <mat-label class="input-placeholder">{{ FIRST_NAME_FIELD_VALUE }}</mat-label>
      @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
        <mat-error>{{ firstNameErrorMessage }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field color="accent">
      <input class="email-input" matInput formControlName="email" type="email" color="accent">
      <mat-icon class="input-icon" matPrefix>email</mat-icon>
      <mat-label class="input-placeholder">{{ EMAIL_FIELD_VALUE }}</mat-label>
      @if (email.invalid && (email.dirty || email.touched)) {
        <mat-error>{{ emailErrorMessage }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field color="accent">
      <input formControlName="password" matInput type="password">
      <mat-icon class="input-icon" matPrefix>lock</mat-icon>
      <mat-label class="input-placeholder">{{ PASSWORD_FIELD_VALUE }}</mat-label>
      <!-- <mat-hint>{{ PASSWORD_HINT }}</mat-hint> -->
      @if (password.invalid && (password.dirty || password.touched)) {
        <mat-error>{{ passwordErrorMessage }} <span style="float: right;">{{ password.value.length }} / {{ PASSWORD_MIN_LENGTH }}</span></mat-error>
      }
    </mat-form-field>
    <button class="submit-button" [disabled]="(authForm.invalid && (authForm.dirty || authForm.touched))"  type="submit" mat-raised-button  color="primary">
      {{ SUBMIT_BUTTON_VALUE }}
    </button>
  </form>
</div>

