@import "../../../../variables";

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;

  margin-top: 32px;
}

.dialogue-title {
  @include default-header-style($font-weight-regular);
}

mat-stepper {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.stepper-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  margin-top: 16px;
  width: 100%;
}

.new-email-container {
  width: 100%;
}


.email-update-visual {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  font-weight: $font-weight-light;
  font-size: 1.2em;
  line-height: 1.2em;
  word-break: break-word; // See https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

  margin-bottom: 16px;
}

.email-update-visual-topic-text {
  font-weight: $font-weight-medium;
}

button {
  width: $mobile-button-width;
  max-width: $desktop-button-width;
}


.confirm-email-container {
  @include default-text-style();
}

.confirm-email-button {
  margin-top: 16px;
}

.hide {
  display: none;
}