@import '../../../../../variables';

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  margin-top: 32px;
}

.logout-button {
  width: $mobile-button-width;
}
