<div class="component-container">

  <button class="menu-fab browse-fab" mat-fab aria-label="Browse icon" [routerLink]="browseUrl">
    <mat-icon>search_sharp</mat-icon>
  </button>
  
  <button class="menu-fab workout-fab" mat-fab aria-label="Workout icon" [routerLink]="workoutUrl">
    <mat-icon>fitness_center_sharp</mat-icon>
  </button>

  <button class="menu-fab profile-fab" mat-fab aria-label="Profile icon" [routerLink]="accountUrl">
    <mat-icon>person_sharp</mat-icon>
  </button>

</div>
