@use '../../../variables' as *;

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.actions-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  width: 100%;
  margin-top: 32px;
  box-sizing: border-box; // Prevents side padding from pushing content outside the window width
  padding: 0 32px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.action-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.icon-container {
  flex: 80;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.edit-button {
  flex: 20;
}

.item-text {
  font-size: 1.2em;
  font-weight: 300;
}

.delete-account-container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Apply this CSS to your vertical menu items */
.menu-item {
  border-bottom: 1px solid rgba(237, 28, 36, 0.2); /* Adjust the color and width as needed */
  padding: 24px 0; /* Adjust the padding as needed */
}

/* To remove the border from the last item */
.menu-item:last-child {
  border-bottom: none;
}

