<div class="component-container" *ngIf="(userData$ | async) as user" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  
  <div fxLayoutAlign="center center" *ngIf="loading$ | async">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <div class="avatar-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <img [src]="user.avatarUrl ? user.avatarUrl : defaultProfileImage" class="avatar">
    <div id="email" class="mat-subheading-1">
      {{ user.email }}
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="16px">

    <a class="account-item-button" mat-button [routerLink]="statsUrl" color="primary">
      <mat-icon>insights</mat-icon>
      <span class="button-text">{{ statsButtonValue }}</span>
    </a>
  
    <a class="account-item-button" mat-button [routerLink]="profileUrl" color="primary">
      <mat-icon>badge</mat-icon>
      <span class="button-text">{{ profileButtonValue }}</span>
    </a>
  
    <a class="account-item-button" mat-button [routerLink]="settingsUrl" color="primary">
      <mat-icon>settings</mat-icon>
      <span class="button-text">{{ settingsButtonValue }}</span>
    </a>

  </div>

</div>