<div class="content-container">
  
  <div class="dialogue-title">{{ CHANGE_PASSWORD_TITLE_VALUE }}</div>

  <div class="dialogue-content">
    <div>{{ CHANGE_PASSWORD_BLURB }}:</div>
    <div class="user-email">{{ (userData$ | async)?.email }}</div>
  </div>

  <div class="actions-container">
    <button *ngIf="!(resetPasswordProcessing$ | async)" mat-raised-button color="primary" type="button" (click)="onSubmit()">{{ SUBMIT_BUTTON_VALUE }}</button>
    <button *ngIf="!(resetPasswordProcessing$ | async)"  mat-stroked-button color="primary" [mat-dialog-close] type="button">{{ CANCEL_BUTTON_VALUE }}</button>
    <app-processing-spinner *ngIf="(resetPasswordProcessing$ | async)"></app-processing-spinner>
  </div>

</div>