@import '../../../../../../variables';

.user-email {
  font-weight: $font-weight-medium;
}

.actions-container {
  margin-top: 16px;
  width: 100%;
}

button {
  width: $mobile-button-width;
  max-width: $desktop-button-width;
}