<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  
  <h2 mat-dialog-title>{{ TITLE_FIELD_VALUE }}</h2>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    
    <div>{{ CHANGE_PASSWORD_BLURB }}:</div>
    <div class="user-email">{{ (userData$ | async)?.email }}</div>
    
  </div>

  <div class="actions-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    
    <button *ngIf="!(resetPasswordProcessing$ | async)" mat-raised-button color="primary" type="button" (click)="onSubmit()">{{ SUBMIT_BUTTON_VALUE }}</button>
    <button *ngIf="!(resetPasswordProcessing$ | async)"  mat-stroked-button color="primary" [mat-dialog-close] type="button">{{ CANCEL_BUTTON_VALUE }}</button>
    <div *ngIf="(resetPasswordProcessing$ | async)" fxLayout="column" fxLayoutAlign="center center">
      <mat-progress-spinner diameter=40 color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>

  </div>

</div>